<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{parts/head_tag :: content}"></div>

<body>

<div th:replace="~{parts/header :: content}"></div>

<div id="create_game">
    <div class="game_create">
        <a href="#" class="close"><img th:src="@{/images/close.svg}"></a>

        <form class="create_game_form form-group" method="post"
              th:action="@{/create-game}" th:object="${game}">

            <h3 class="create_game_name">Create a game</h3>

            <div class="d-flex justify-content-between">

                <div class="game_labels">
                    <label for="players_number">Players number:</label>
                    <label for="rounds_number">Rounds number:</label>
                    <label for="round_time">Round time:</label>
                </div>
                <div class="game_inputs">
                    <input type="number" class="form-control players_number" id="players_number"
                           th:placeholder="'Enter number of players'"
                           th:field="*{configuration.playersNumber}"
                           min="1" max="10">
                    <input type="number" class="form-control rounds_number" id="rounds_number"
                           th:placeholder="'Enter number of rounds'"
                           th:field="*{configuration.roundsNumber}"
                           min="1" max="20">
                    <input type="number" class="form-control round_time" id="round_time"
                           th:placeholder="'Enter round time'"
                           th:field="*{configuration.roundTime}"
                           min="20" max="120">
                </div>

            </div>

            <div class="create_button">
                <input type="submit" class="btn btn-light" value="CREATE">
            </div>
        </form>
    </div>
</div>

<div id="find_game">
    <div class="game_create">
        <a href="#" class="close"><img th:src="@{/images/close.svg}"></a>

        <form class="create_game_form form-group" method="post"
              th:action="@{/find-game}">

            <h3 class="create_game_name">Find a game</h3>

            <div class="d-flex justify-content-between">

                <div class="game_labels">
                    <label for="game_identification">Game id:</label>
                </div>
                <div class="game_inputs">
                    <input type="text" class="form-control game_identification" name="gameId"
                           id="game_identification" placeholder="Enter game identification">
                </div>
            </div>

            <div class="create_button">
                <input type="submit" class="btn btn-light" value="FIND">
            </div>
        </form>
    </div>
</div>

<div class="content d-flex">

    <div class="m-auto">
        <div class="slogan">
            <h1>What? Where? When?</h1>
        </div>
        <div class="buttons">
            <a class="button_home d-block" href="#find_game">
                <h2>Find a Game</h2>
            </a>
            <a class="button_home d-block" href="#create_game">
                <h2>Create a Game</h2>
            </a>
        </div>
    </div>
</div>

<div th:replace="~{parts/footer :: content}"></div>
</body>
