<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{parts/head_tag :: content}"></div>

<body>

<div th:replace="~{parts/header :: content}"></div>

<div class="content m-5">
    <div class="container">
        <h2 th:text="#{profile}"></h2>

        <p th:text="#{profile.username} + ': ' + ${user.getUsername()}">Username</p>
        <p th:text="#{profile.email} + ': ' + ${user.getEmail()}">Email</p>

        <h3 th:text="#{profile.games}"></h3>
        <table class="game_table table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col" th:text="#{profile.game.gameId}">Game id</th>
                <th scope="col" th:text="#{profile.game.rounds}">Number of rounds</th>
                <th scope="col" th:text="#{profile.game.players}">Number of players</th>
                <th scope="col" th:text="#{profile.game.correct}">Correct answers</th>
                <th scope="col" th:text="#{profile.game.incorrect}">Incorrect answers</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="game : ${gameList}">
                <td th:text="${gameStat.count}"></td>
                <td th:text="${game.gameIdentification}"></td>
                <td th:text="${game.configuration.getRoundsNumber()}"></td>
                <td th:text="${game.configuration.getPlayersNumber()}"></td>
                <td th:text="${game.statistics.expertScore}"></td>
                <td th:text="${game.statistics.opponentScore}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div th:replace="~{parts/footer :: content}"></div>

</body>
</html>
