<!DOCTYPE html>

<html lang="${locale}" xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{parts/head_tag :: content}"></div>


<div th:replace="~{parts/head_tag :: content}"></div>

<body style="background: #FFEFD5; background-size: cover; ">
<div class="">
    <div class="sign-up col-lg-4" style="color: #8C4637; margin:100px auto auto auto">
        <h3 class="mb-5">SIGN IN</h3>
        <div style="color: red" th:if="${param.error}">
            <span th:text="#{signIn.message.incorrectData}"></span>
        </div>
        <form class="sign_form" th:action="@{/sign-in}" method="post">
            <div class="form-group">
                <label for="username" th:text="#{signIn.username}"></label>
                <input type="text" class="form-control" id="username" th:placeholder="#{signIn.username.placeholder}" name="username" required>
            </div>
            <div class="form-group">
                <label for="password" th:text="#{signIn.password}"></label>
                <input type="password" class="form-control" id="password" th:placeholder="#{signIn.password.placeholder}" name="password" required>
            </div>
            <button type="submit" class="btn btn-info" th:text="#{signIn.button}">
            </button>
        </form>
        <p class="mt-5" th:text="#{signIn.signUp.message}"></p>
        <a th:href="@{/sign-up}" th:text="#{signIn.signUp.link}"></a>
    </div>
</div>
</body>
</html>