<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="my_footer" th:fragment="content">
    <div class="social_info d-flex justify-content-between">
        <div class="social_icon">
            <img th:src="@{/images/instagram.svg}">
        </div>
        <div class="social_icon">
            <img th:src="@{/images/facebook.svg}">
        </div>
        <div class="social_icon">
            <img th:src="@{/images/telegram.svg}">
        </div>
        <div class="social_icon">
            <img th:src="@{/images/info.svg}">
        </div>
    </div>

    <div class="copyright">
        ©2019 Nikita Bortnichuk. All rights reserved
    </div>
</div>
</body>
