<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="my_header_main d-flex" th:fragment="content">
    <div class="language_menu d-flex m-auto">
        <div class="language">
            <div class="dropdown_language">
                <a href="?locale=en">EN</a>
                <a class="dropdown_link"><img class="arrow" th:src="@{/images/down-arrow.svg}"></a>
                <div class="dropdown-content">
                    <a href="?locale=ua">UA</a>
                </div>
            </div>
        </div>
        <div class="menu d-flex">
        </div>
    </div>

    <div class="container d-flex m-auto">
        <div class="logo_div col-6 justify-content-between m-auto">
            <a th:href="@{/home}">
                <img class="logo" th:src="@{/images/logo.png}">
            </a>
        </div>
        <div class="sign_in col-6 text-right m-auto">
            <a th:href="@{/home}">
                home
            </a>
            <a style="color: #6f3d2d">&#8195|&#8195</a>
            <!--            <div th:if="${session.userSession == null}">-->
            <a th:href="@{/sign-in}">
                sign in
            </a>
            <a style="color: #6f3d2d">&#8195|&#8195</a>
            <a th:href="@{/sign-up}">
                sign up
            </a>
            <!--            </div>-->
            <!--            <div th:unless="${session.userSession == null}">-->
            <!--                <a href="/profile">-->
            <!--                    profile-->
            <!--                </a>-->
            <!--                <a style="color: #6f3d2d">&#8195|&#8195</a>-->
            <!--                <a href="/logout">-->
            <!--                    logout-->
            <!--                </a>-->
            <!--            </c:if>-->
        </div>
    </div>
</div>
</body>